$primary: #1b6d56;
$container-width: 1180px;
$input-bg: #dde9e6;

$color-bg-light: #d0d0d0;
$color-text-light: black;
$color-link-light: #1f2127;
$color-navbar-light: #ffffff;

$color-bg-dark: #1f2127;
$color-text-dark: white;
$color-link-dark: #ffffff;
$color-navbar-dark: #2d3039;

$size: 16px;
