body {
  background-color: #1f2127;
}

.imageCarousel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 612px;
  height: 100px;
  background-color: #1f2127;
  flex-direction: row;
}

.sliderWrapper {
  width: 500px; // рассчитать значение для 4 карточек + 3 отступа
  overflow: hidden;
  display: flex;

  @media (max-width: 432px) {
    width: 100%;
  }
}

.thumbnails {
  display: flex;
  justify-content: center;
}
