@import "variables";

.label {
  background-color: $input-bg;
  border-radius: 40px;

  outline: none;
  border: none;
  color: #1f2127;

  min-width: 80px;
  height: 35px;
}

.text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #1f2127;

  margin: 8px 12px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
}
